.footer-component{
    position: relative;
    pointer-events: none;
    display: flex;
    flex-direction: row-reverse;
}

.footer-btn{
    
    padding: 10px 20px 8px 20px;
    border-radius: 6px;
    font-family: AvenirHeavy;
    border: 1.5px solid #1269d6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: #1269d6;
    line-height: 29px;
    background: #fff;
    cursor: pointer;
    pointer-events: auto;
    margin: 20px 75px 20px 0;
}